on:
  push:
    branches: [main, auto, canary]
  pull_request:
    branches:
      - main

name: CI

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Lint (clippy) async-std
        run: cargo clippy --no-default-features --features async-std-runtime --all-targets
      - name: Lint (clippy) tokio
        run: cargo clippy --no-default-features --features async-tokio-runtime --all-targets
      - name: Lint (clippy) default
        run: cargo clippy --all-targets
      - name: Lint (rustfmt)
        run: cargo fmt --check

  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build all targets with default features
        run: cargo build --all-targets
      - name: Build all targets with async-std
        run: cargo build --all-targets --no-default-features --features async-std-runtime
      - name: Build all targets with tokio
        run: cargo build --all-targets --no-default-features --features async-tokio-runtime
      - name: Test async-std with cargo test
        run: cargo test --workspace --no-default-features --features async-std-runtime
      - name: Test tokio with cargo test
        run: cargo test --workspace --no-default-features --features async-tokio-runtime
      - name: Test defaults with cargo test
        run: cargo test --workspace
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Test async-std with nextest
        run: cargo nextest run --no-default-features --features async-std-runtime
      - name: Test tokio with nextest
        run: cargo nextest run --no-default-features --features async-tokio-runtime
      - name: Test defaults with nextest
        run: cargo nextest run
